footer {
  background: $color1;
  width: 85%;
  margin: 0 auto 80px;
  border-bottom: 1px solid $color2;
  display: flex;
  .footer-leftPart {
    width: 100%;
    border-right: 1px solid $color2;
    padding: 50px 30px;
    form {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 15% 15% 50% 20%;
      grid-template-areas: 
      "formName"
      "formEmail"
      "formTA"
      "formButton";
      label {
        display: inline-block;
        margin: 20px 0;
        text-align: left;
        text-transform: uppercase;
        font-size: 0.8rem;
        font-weight: bolder;
        letter-spacing: 1px;
      }
      #name, #email{
        width: 100%;
        height: 50px;
        margin: 20px 0;
        background: transparent;
        border: 1px solid $color2;
        border-radius: 5px;
        padding: 10px;
        transition: 0.4s ease-in-out;
        &:focus {
          border: 1px solid $color3;
        }
      }
      .formButton {
        text-align: left;
        margin: auto 15px;
        grid-area: formButton;
      }
      textarea {
        width: 100%;
        height: 150px;
        background: transparent;
        border: 1px solid $color2;
        border-radius: 5px;
        padding: 10px;
        transition: 0.4s ease-in-out;
        resize: none;
        &:focus {
          border: 1px solid $color3;
        }
      }
    }
    .formName {
      grid-area: formName;
    }
    .formEmail {
      grid-area: formEmail;
    }
    .formTA {
      grid-area: formTA;
    }
  }
  .footer-rightPart {
    width: 100%;
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    div {
      display: grid;
      grid-template-columns: 30% 70%;
      text-align: left;
      align-items: center;
      padding: 50px;
      border-bottom: 1px solid $color2;
      h5 {
        text-transform: uppercase;
        font-size: 0.8rem;
        font-weight: bolder;
        letter-spacing: 1px;
      }
      p {
        font-style: normal;
        font-weight: 100;
        font-size: 0.9rem;
      }
      ul {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin: 0 33% 0 
        i {
          border: 1px solid $color2;
          border-radius: 50px;
          padding: 15px;
          cursor: pointer;
        }
      }
    }
    .lastdiv {
        border-bottom: none;
    }
  }
}