@font-face {
  font-family: "font1";
  src: url(../fonts/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
  font-family: "font2";
  src: url(../fonts/Merriweather-Light.ttf);
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  scroll-behavior: smooth;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "font1", sans-serif;
  color: #0a0a0a;
}

body {
  background-image: url(../images/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
}

h1 {
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 2px;
  color: #fcf8f8;
}

h2 {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
}

h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
}

p {
  font-family: "font2", sans-serif;
  font-style: italic;
  line-height: 35px;
}

a {
  text-decoration: none;
}

button {
  text-transform: uppercase;
  padding: 10px 30px;
  background-color: transparent;
  border: 2px solid #0a0a0a;
  font-weight: bolder;
  font-size: 0.70rem;
  letter-spacing: 2px;
  cursor: pointer;
}

header {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

header h1 {
  width: 55%;
  margin: 0 auto 50px;
}

header p {
  color: #fcf8f8;
  margin-bottom: 50px;
}

header .header-icon i {
  color: #fcf8f8;
  font-size: 1.3rem;
  border: 2px solid #fcf8f8;
  padding: 20px;
  border-radius: 50px;
  cursor: pointer;
  position: relative;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

header .header-icon i:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: rgba(228, 228, 228, 0.205);
}

header nav {
  height: 100px;
  width: 85%;
  background-color: rgba(228, 228, 228, 0.205);
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul li {
  color: #fcf8f8;
  text-transform: uppercase;
  padding: 0 15px;
  font-weight: 700;
  letter-spacing: 1.5px;
  font-size: 0.8rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul li i {
  color: #fcf8f8;
  font-size: 1.4rem;
  margin: 10px;
}

header nav ul .pages {
  -webkit-transition: 1s ease-out;
  transition: 1s ease-out;
}

header nav ul .pages:hover {
  background-color: #e4e4e4;
  color: #0a0a0a;
}

header nav ul .icon, header nav ul a {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

header nav ul .icon:hover, header nav ul a:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.section1 {
  background: #fcf8f8;
  width: 85%;
  margin: 0 auto;
  padding: 80px;
  border-bottom: 1px solid #e4e4e4;
}

.section1 h4 {
  font-family: "font2", sans-serif;
  font-weight: 200;
  font-size: 1.1rem;
  position: relative;
}

.section1 h4::before {
  content: "";
  height: 1px;
  width: 35%;
  position: absolute;
  background-color: #e4e4e4;
  left: 0;
  top: 50%;
}

.section1 h4::after {
  content: "";
  height: 1px;
  width: 35%;
  position: absolute;
  background-color: #e4e4e4;
  right: 0;
  top: 50%;
}

.section1 h2 {
  margin: 80px auto 50px;
  width: 63%;
  text-align: center;
}

.section1 p {
  width: 60%;
  margin: 0 auto 50px;
}

.section1 .section1-imgContainer {
  width: 90%;
  margin: 0 auto 50px;
}

.section1 .section1-imgContainer img {
  width: 100%;
}

.section2 {
  background: #fcf8f8;
  width: 85%;
  margin: 0 auto 40px;
  border-bottom: 1px solid #e4e4e4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section2 .section2-leftPart {
  padding: 50px 80px;
  border-right: 1px solid #e4e4e4;
}

.section2 .section2-rightPart {
  padding: 50px 80px;
}

.section2 h6 {
  font-size: 0.8rem;
  font-family: "font2", sans-serif;
  font-weight: lighter;
  margin-bottom: 20px;
}

.section2 h3 {
  width: 50%;
  margin: 0 auto 20px;
  font-weight: 900;
  line-height: 35px;
  font-size: 1.6rem;
}

.section2 img {
  width: 100%;
}

.section2 p {
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 200;
  text-align: left;
  margin: 20px 0;
}

footer {
  background: #fcf8f8;
  width: 85%;
  margin: 0 auto 80px;
  border-bottom: 1px solid #e4e4e4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-leftPart {
  width: 100%;
  border-right: 1px solid #e4e4e4;
  padding: 30px;
}

footer .footer-leftPart form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: "formName" "formEmail" "formTA";
}

footer .footer-leftPart .formName {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: formName;
}

footer .footer-leftPart .formEmail {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: formEmail;
}

footer .footer-leftPart .formTA {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: formTA;
}

footer .footer-rightPart {
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-template-row: 25% 25% 25% 25%;
}

footer .footer-rightPart div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 70%;
      grid-template-columns: 30% 70%;
}

footer .footer-rightPart ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
/*# sourceMappingURL=index.css.map */